<form action="/placeholder" method="post">
   <label>Name <input type="text" name="leader_name"></label>
   <label>Country <input type="text" name="leader_country"></label>
   <label>Continent <input type="integer" name="leader_continent"></label>
   <label>img <input type="text" name="leader_img"></label>
   <input type="submit" value="Spara">
</form>