<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
</head>
<body>
    <header>
        <h1 class="logo">Books</h1>
    </header>
    <hr>
        <nav>
            <ul>
                <li><a href="/placeholder">Alla våra böcker</a></li>
                <li><a href="/placeholder/new">Lägg till book</a></li>
                <li><a href="/new_user">lägg till användare</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/placeholder/game">game</a></li>
                <li><a href="/leaderboard">View Leaderboard</a></li>
                <li><form action='/placeholder/logout' method='post'><button type="submit">LOGOUT</button></li>
            </form> 
            </ul>
        </nav>
    <hr>
    <%= yield %>
    <footer>
        <p>Kontakta oss</p>
    </footer>
</body>
</html>