<form action="/new_user" method="post">
   <label>User<input type="text" name="user"></label>
   <label>Password <input type="text" name="password"></label>
   <input type="submit" value="Spara">
</form>